*{
    margin: 0;
    padding: 0;
} 
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10%;
 }

.profile-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 3%;
    overflow: hidden;
    
}

.profile-card h1{
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
 

}

.info-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.info-profile img{
    width: 40%;
    margin: 5%;
}

.info-profile h2{
    margin: 5%

}

.bouton{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: bisque;
}

@media (max-width: 600px){
    .profile-card{
        width:100%;
    }

    .bouton{
        flex-wrap: wrap;
    }
}